header.header.header__single__question
  button.back__button(type="button" ui-sref="main")
  .header--inner
    .header__left
      h1.entry-title Questions
      button.add-item(type="button")
    .header__right
      p last time discussed 1 day ago
    .clear
        
.wrapper
  .single__question
    .question
      .question__top
        .question-header--entry
          .avatar-container
            a(ui-sref="user")
              img.author-avatar-img(
                alt="{{singleQuestion.author.name}}" 
                src="{{singleQuestion.author.avatar}}"
              )
          .question-header
              p 
                a.author-name(ui-sref="user") {{ singleQuestion.author.name }}
                |  IS ASKING
              h2 
                a {{singleQuestion.title}}
        .button__wrapper
          button.button__follow(type="button" ng-click="question.follow = false" ng-show="singleQuestion.follow") unfollow
          button.button__follow(type="button" ng-click="question.follow = true" ng-hide="singleQuestion.follow") follow
        
        .clear
      .single__question__bottom
        .question__bottom--left
          .question__bottom--content
            .question__bottom--content-inner
              p {{ singleQuestion.content }}
        .question__bottom--right
          .vote-button__container
            span {{ singleQuestion.votes }} upvotes
            .arrows__wrapper
              button.vote__button.vote__button--up(type="button" ng-disabled="questionVoted && questionVotedUp" ng-click="vote(question, 'up')")
              button.vote__button.vote__button--down(type="button" ng-disabled="questionVoted && questionVotedDown" ng-click="vote(question, 'down')")
        .clear
        button.answer__button(type="button") GIVE new answer 
    
    .discussion__wrapper
      .aling_center
        p 2 
          span.text-italic peers already answered {{ singleQuestion.author.name }}
      div(ng-controller="DiscusionsController")
        div.discussion_list(ng-repeat="discusion in discusions")
          .discussion__comment(ng-repeat="comment in discusion.comments") 
            .comment__wrapper(ng-class="comment.replies.length > 0 ? 'replied' : 'no__replies'")
              .comment__avatar 
                img.author-avatar-img(
                  alt="{{ comment.name }}" 
                  src="{{ comment.avatar }}"
                )
              .comment__content
                .comment__content--left
                  .comment__content--entry
                    h4 
                      a(ui-sref="user") {{ comment.author }}
                    span.text-gray-uppercase Commented it 
                    span.comment_date yesterday
                  .comment__content--comment
                    p {{ comment.content }}
                .comment__content--right
                  .vote-button__container
                    span {{ comment.votes }} upvotes
                    .arrows__wrapper
                      button.vote__button.vote__button--up(type="button" ng-click="voteQuestionUp(comment.votes)")
                      button.vote__button.vote__button--down(type="button")
                .clear
              .clear 
              button.answer__button(type="button" ng-hide="comment.replies.length > 0") Comment
            .discusion__replies(ng-show="comment.replies.length > 0")
              .comment__wrapper(ng-repeat="replie in comment.replies" ng-class="replie.replies.length > 0 ? 'replied' : 'no__replies'")
                .comment__avatar 
                  img.author-avatar-img(
                    alt="{{ replie.name }}" 
                    src="{{ replie.avatar }}"
                  )
                .comment__content
                  .comment__content--left
                    .comment__content--entry
                      h4 
                        a(ui-sref="user")  {{ replie.author }}
                      span.text-gray-uppercase Commented it 
                      span.comment_date yesterday
                    .comment__content--comment
                      p {{ replie.content }}
                  .comment__content--right
                    .vote-button__container
                      span {{ comment.votes }} upvotes
                      .arrows__wrapper
                        button.vote__button.vote__button--up(type="button")
                        button.vote__button.vote__button--down(type="button")
                button.answer__button(type="button") Continue discussion
                .clear 
          
