.modal.fade(ng-controller="UserController")
  .modal-dialog.modal-lg(ng-repeat="user in users")
    .modal__content
      .modal__header
        button.close(
          type="button" 
          ng-click="$dismiss()"
          data-dismiss="modal" 
          aria-hidden="true"
        )  &times;
      .user__thumb
        img.author-avatar-img(
          alt="{{ user.name }}" 
          src="{{ user.avatar }}"
        )
      h2.user__name {{user.name}}
      .user__accinfo
        .user__accinfo--col.user__accinfo--col-1
          span.user__accinfo--label.text-gray-uppercase Member for 
          span.user__accinfo--number {{ user.memberfor }}
        .user__accinfo--col.user__accinfo--col-2
          span.user__accinfo--label.text-gray-uppercase Last seen 
          span.user__accinfo--number {{ user.lastseen }}
        .user__accinfo--col.user__accinfo--col-3
          span.user__accinfo--label.text-gray-uppercase Activity Level
          img.author-award-img(
            alt="award" 
            src="assets/images/award-color.png"
          )
          img.author-award-img(
            alt="award" 
            src="assets/images/award-color.png"
          )
          img.author-award-img(
            alt="award" 
            src="assets/images/award-gray.png"
          )
      .user__achivements__header
        button.btn__slider.btn__slider--prev(type="button")
        h2 How it all started
        button.btn__slider.btn__slider--next(type="button")
      .aling_center
        p.text-gray-uppercase that's where we have been these 5 months ago
      .user__main-content
        .user__achivements
          .user__achivements--box(ng-repeat="achivement in user.achivements | limitTo: 4" ng-class="achivement.name")
            span.achivement-number {{ achivement.count }} 
            span.achivement-name {{ achivement.name }}   
          .clear
        .related_users
          p.text-gray-uppercase who joined the platform the same perdiod
          .related_users__profiles
            .related_users__profiles--box(ng-repeat="relatedUser in user.related_users")
              .related_users__profiles--box-inner
                .related_users__profiles--avatar
                  img.author-avatar-img(
                    alt="{{ relatedUser.name }}" 
                    src="{{ relatedUser.avatar }}"
                  )
                h4 {{ relatedUser.name }}  
            .clear
              
    .hottest__discussion
      p.text-gray-uppercase the hottest discusion these days
      .hottes__discussion--bg(ng-repeat="discussion in user.hottes_discussion")
        img.author-avatar-img(
          alt="{{ discussion.name }}" 
          src="{{ discussion.avatar }}"
        )
        .hottes__discussion--bg--inner
          h4 {{ discussion.author }} 
          p.text-gray-uppercase Found the guardian article
          h5 {{ discussion.title }}
          .discussin__stats
            p {{ discussion.peers }} 
              span peers involved
            p {{ discussion.discusions }} 
              span related discusions
            p {{ discussion.conversations }} 
              span conversations
            p {{ discussion.upvotes }} 
              span upvotes
              
            
      
